version: '3.5'
services:
  dev:
    container_name: tabular_compettion_template.dev
    build:
      context: .
      dockerfile: Dockerfile.cpu
    shm_size: '32gb'
    volumes:
      - type: bind
        source: $PWD
        target: /workspace
    working_dir: /workspace
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [ gpu ]
    tty: true
